OAC-STD-UCI_V2.5/UCI_DataRecordList_Template_v2_5_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:uci="https://www.vdl.afrl.af.mil/programs/oam" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="https://www.vdl.afrl.af.mil/programs/oam" elementFormDefault="qualified" attributeFormDefault="unqualified" version="002.5.0">
	<xs:annotation>
		<xs:documentation>DISTRIBUTION STATEMENTS

DISCLAIMER: The discussion of non-federal entities, methods, products, or services does not imply any endorsement by the United States Government, the Department of Defense, or the Department of the Air Force.

Distribution Statement A. Approved for public release: distribution is unlimited.
		</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="../UCI_Schema_v2_5_0/UCI_SecurityMarkings_v2_5_0.xsd"/>
	<xs:include schemaLocation="../UCI_Schema_v2_5_0/UCI_MessageDefinitions_v2_5_0.xsd"/>
	<!--==  IMPORTANT NOTE!!! ==-->
	<!--Templates below cover common structure for the messages to which they refer. Additions and modifications of these structures are to be expected for new applications. To promote consistency for structure and naming, some elements are present in these templates because they are commonly included in existing messages but are not required.-->
	<!--==  START MESSAGES ==-->
	<!--The elements defined in this section are templates for DataRecordList messages.  When using this schema, these messages are intended to be sent in whole; the schema was not designed for a given child element of a message to be sent independent of the message itself.-->
	<xs:element name="MsgNameData" type="uci:MsgNameDataMT">
		<xs:annotation>
			<xs:documentation>*NOTES: THIS IS PART OF THE TEMPLATE THAT SUPPORTS A DATARECORDLIST-2 USAGE PATTERN. THIS MESSAGE STRUCTURE IMPLEMENTS THE DATA RECORD LIST TYPES DEFINED IN THE UCI SCHEMA STYLE AND DESIGN SPECIFICATION. THIS MESSAGE TEMPLATE IS FOR CREATING A MESSAGE THAT WILL CREATE DATA ITEMS THAT CAN BE ORGANIZED INTO LISTS.*

*INSTRUCTIONS: REPLACE "MsgNameData" WITH MESSAGE NAME. PROVIDE A DESCRIPTION OF THE MESSAGE IN THIS ANNOTATION. REMOVE INSTRUCTIONS AND NOTES FROM ANNOTATION.*</xs:documentation>
			<xs:documentation>UCI_PRIMITIVE: DataRecord-1.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="MsgNameList" type="uci:MsgNameListMT">
		<xs:annotation>
			<xs:documentation>*NOTES: THIS IS PART OF THE TEMPLATE THAT SUPPORTS A DATARECORDLIST-2 USAGE PATTERN. THIS MESSAGE STRUCTURE IMPLEMENTS THE DATA RECORD LIST TYPES DEFINED IN THE UCI SCHEMA STYLE AND DESIGN SPECIFICATION. THIS MESSAGE TEMPLATE IS FOR CREATING A MESSAGE THAT WILL CREATE A LIST OF REFERENCES TO DATA.*

*INSTRUCTIONS: REPLACE "MsgNameList" WITH MESSAGE NAME. PROVIDE A DESCRIPTION OF THE MESSAGE IN THIS ANNOTATION. REMOVE INSTRUCTIONS AND NOTES FROM ANNOTATION.*</xs:documentation>
			<xs:documentation>UCI_PRIMITIVE: DataRecord-1.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!--==  END MESSAGES ==-->
	<!--== START SUPPORTING COMPLEX TYPES  ==-->
	<!--The complex types defined in this section are used in the messages defined above.  They are not intended to be sent independent of their host message(s).  They are listed alphabetically.  As indicated by their names, some can be thought of as falling into the following categories:-->
	<!--==== ID TYPES ==-->
	<!--These are identifiers of things referred to by the schema.  Uniqueness of identifiers will vary.  For example, it might be sufficient in some implementations for IDs to be unique for a given ID type but not necessarily unique across types.  It is left to implementers to determine ID uniqueness requirements.  These ID types are generally used in more than one instance in the messages defined above.  They were designed to be sent as a part of a message defined above; they are not intended to be sent independent of their parent message.-->
	<!--====  MESSAGE DATA TYPEs (MDTs)==-->
	<!--These complex types, one per UCI message and ending with a "MDT" suffix, specify the "data" content of a message.  That is, everything except the message header and object state (where applicable).-->
	<!--====  MESSAGE TYPEs (MTs) ==-->
	<!--These complex types correspond one-for-one to the top level UCI messages (root schema elements) and end with a "MT" suffix.-->
	<xs:complexType name="MsgNameDataDRLE">
		<xs:complexContent>
			<xs:extension base="uci:DataRecordBaseType">
				<xs:sequence>
					<xs:element name="MsgNameDataID" type="uci:MsgNameDataID_Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MsgNameDataID_Type">
		<xs:annotation>
			<xs:documentation>The ID type for UCI IDs that correspond to MsgData</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="uci:ID_Type"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MsgNameDataMDT">
		<xs:annotation>
			<xs:documentation>See annotations in child elements and associated global element (message) for further details.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="uci:MsgNameDataDRLE">
				<xs:sequence>
					<xs:element name="AnyRequiredMessageUniqueFieldsGoHere">
						<xs:annotation>
							<xs:documentation>*INSTRUCTIONS: ADD YOUR MESSAGE SPECIFIC REQUIRED FIELDS IN THIS xs:sequence STARTING HERE. REMOVE THIS EXAMPLE ELEMENT*</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AnyOptionalMessageUniqueFieldsGoHere" minOccurs="0">
						<xs:annotation>
							<xs:documentation>*INSTRUCTIONS: ADD YOUR MESSAGE SPECIFIC OPTIONAL FIELDS IN THIS xs:sequence STARTING HERE. REMOVE THIS EXAMPLE ELEMENT*</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MsgNameDataMT">
		<xs:annotation>
			<xs:documentation>See the associated global element (message) annotation for further details.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="uci:MessageType">
				<xs:sequence>
					<xs:element name="ObjectState" type="uci:ObjectStateEnum" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Indicates the state of the internal software object that the data in the message is based upon. The state of the software object is determined by the publisher. The publisher could be the original/master publisher or an intermediary re-publisher such as a persistence/data manager. This element is not a commanded CRUD operation. It is not an indication of the state of an instance of a message. It is not a mechanism for partial, incremental, or fragmentary publication of a message. It is a signal from a publisher to subscribers. For REMOVED state, in particular, some subscribers will mirror the publisher and treat the message as if the object no longer exists, but others, such as mission recorders, might not (in order to support retaining historical records of activity, for example).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MessageData" type="uci:MsgNameDataMDT">
						<xs:annotation>
							<xs:documentation>See annotations in child elements for details.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MsgNameListDRL">
		<xs:complexContent>
			<xs:extension base="uci:DataRecordListBaseType">
				<xs:sequence>
					<xs:element name="ManagedLists" type="uci:MsgNameListML" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MsgNameListID_Type">
		<xs:annotation>
			<xs:documentation>The ID type for a list of MyDataID_Type elements which are references to MyDataType.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="uci:DataRecordListID_Type"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MsgNameListMDT">
		<xs:annotation>
			<xs:documentation>See annotations in child elements and associated global element (message) for further details.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="uci:MsgNameListDRL">
				<xs:sequence>
					<xs:element name="MsgNameListID" type="uci:MsgNameListID_Type">
						<xs:annotation>
							<xs:documentation>Indicates the unique ID of the mapping.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MsgNameListML">
		<xs:complexContent>
			<xs:extension base="uci:ManagedListBaseType">
				<xs:sequence>
					<xs:element name="MsgNameDataListElement" type="uci:MsgNameDataDRLE" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MsgNameListMT">
		<xs:annotation>
			<xs:documentation>See the associated global element (message) annotation for further details.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="uci:MessageType">
				<xs:sequence>
					<xs:element name="ObjectState" type="uci:ObjectStateEnum" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Indicates the state of the internal software object that the data in the message is based upon.  The state of the software object is determined by the publisher.  The publisher could be the original/master publisher or an intermediary re-publisher such as a persistence/data manager.  This element is not a commanded CRUD operation.  It is not an indication of the state of an instance of a message.  It is not a mechanism for partial, incremental, or fragmentary publication of a message.  It is a signal from a publisher to subscribers.  For REMOVED state, in particular, some subscribers will mirror the publisher and treat the message as if the object no longer exists, but others, such as mission recorders, might not (in order to support retaining historical records of activity, for example).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MessageData" type="uci:MsgNameListMDT">
						<xs:annotation>
							<xs:documentation>See annotations in child elements for details.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--== END SUPPORTING COMPLEX TYPES  ==-->
</xs:schema>
