OAC-STD-UCI_V2.5/UCI_Capability-3_Template_v2_5_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:uci="https://www.vdl.afrl.af.mil/programs/oam" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="https://www.vdl.afrl.af.mil/programs/oam" elementFormDefault="qualified" attributeFormDefault="unqualified" version="002.5.0">
	<xs:annotation>
		<xs:documentation>DISTRIBUTION STATEMENTS

DISCLAIMER: The discussion of non-federal entities, methods, products, or services does not imply any endorsement by the United States Government, the Department of Defense, or the Department of the Air Force.

Distribution Statement A. Approved for public release: distribution is unlimited.
		</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="../UCI_Schema_v2_5_0/UCI_SecurityMarkings_v2_5_0.xsd"/>
	<xs:include schemaLocation="../UCI_Schema_v2_5_0/UCI_MessageDefinitions_v2_5_0.xsd"/>
	<!--==  IMPORTANT NOTE!!! ==-->
	<!--Templates below cover common structure for the messages to which they refer. Additions and modifications of these structures are to be expected for new applications. To promote consistency for structure and naming, some elements are present in these templates because they are commonly included in existing messages but are not required.-->
	<!--==  START MESSAGES ==-->
	<!--The elements defined in this section are templates for Capability-3 messages.  When using this schema, these messages are intended to be sent in whole; the schema was not designed for a given child element of a message to be sent independent of the message itself.-->
	<xs:element name="MsgNameActivity" type="uci:MsgNameActivityMT">
		<xs:annotation>
			<xs:documentation>*INSTRUCTIONS: PROVIDE A DESCRIPTION OF THE MESSAGE IN THIS ANNOTATION. REMOVE INSTRUCTIONS AND NOTES FROM ANNOTATION.*</xs:documentation>
			<xs:documentation>UCI_PRIMITIVE: Data-1.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="MsgNameCapability" type="uci:MsgNameCapabilityMT">
		<xs:annotation>
			<xs:documentation>*INSTRUCTIONS: PROVIDE A DESCRIPTION OF THE MESSAGE IN THIS ANNOTATION. REMOVE INSTRUCTIONS AND NOTES FROM ANNOTATION.*</xs:documentation>
			<xs:documentation>UCI_PRIMITIVE: Data-1.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="MsgNameCapabilityStatus" type="uci:MsgNameCapabilityStatusMT">
		<xs:annotation>
			<xs:documentation>*INSTRUCTIONS: PROVIDE A DESCRIPTION OF THE MESSAGE IN THIS ANNOTATION. REMOVE INSTRUCTIONS AND NOTES FROM ANNOTATION.*</xs:documentation>
			<xs:documentation>UCI_PRIMITIVE: Status-1.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!--==  END MESSAGES ==-->
	<!--== START SUPPORTING COMPLEX TYPES  ==-->
	<!--The complex types defined in this section are used in the messages defined above.  They are not intended to be sent independent of their host message(s).  They are listed alphabetically.  As indicated by their names, some can be thought of as falling into the following categories:-->
	<!--==== ID TYPES ==-->
	<!--These are identifiers of things referred to by the schema.  Uniqueness of identifiers will vary.  For example, it might be sufficient in some implementations for IDs to be unique for a given ID type but not necessarily unique across types.  It is left to implementers to determine ID uniqueness requirements.  These ID types are generally used in more than one instance in the messages defined above.  They were designed to be sent as a part of a message defined above; they are not intended to be sent independent of their parent message.-->
	<!--====  MESSAGE DATA TYPEs (MDTs)==-->
	<!--These complex types, one per UCI message and ending with a "MDT" suffix, specify the "data" content of a message.  That is, everything except the message header and object state (where applicable).-->
	<!--====  MESSAGE TYPEs (MTs) ==-->
	<!--These complex types correspond one-for-one to the top level UCI messages (root schema elements) and end with a "MT" suffix.-->
	<xs:complexType name="MsgNameActivityCommandType">
		<xs:annotation>
			<xs:documentation>See annotations in child elements and messages/elements that use this type for details.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="uci:ActivityCommandBaseType">
				<xs:sequence>
					<xs:element name="AnyRequiredMessageUniqueFieldsGoHere">
						<xs:annotation>
							<xs:documentation>*INSTRUCTIONS: ADD YOUR MESSAGE SPECIFIC REQUIRED FIELDS IN THIS xs:sequence STARTING HERE. REMOVE THIS EXAMPLE ELEMENT*</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AnyOptionalMessageUniqueFieldsGoHere" minOccurs="0">
						<xs:annotation>
							<xs:documentation>*INSTRUCTIONS: ADD YOUR MESSAGE SPECIFIC OPTIONAL FIELDS IN THIS xs:sequence STARTING HERE. REMOVE THIS EXAMPLE ELEMENT*</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MsgNameActivityMDT">
		<xs:annotation>
			<xs:documentation>See annotations in child elements and associated global element (message) for further details.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SubsystemID" type="uci:SubsystemID_Type">
				<xs:annotation>
					<xs:documentation>INSTRUCTIONS: Some users of the Capability-3 message-set DO NOT NEED SubsystemID. If you do NOT need it, delete this element. If you DO need it, delete these instructions.

Indicates the Subsystem which hosts the MsgName Capabilities whose Activities are given in this message</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Activity" type="uci:MsgNameActivityType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Indicates the dynamic operational characteristics of an Activity of an MsgName Capability.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MsgNameActivityMT">
		<xs:annotation>
			<xs:documentation>See the associated global element (message) annotation for further details.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="uci:MessageType">
				<xs:sequence>
					<xs:element name="ObjectState" type="uci:ObjectStateEnum" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Indicates the state of the internal software object that the data in the message is based upon.  The state of the software object is determined by the publisher.  The publisher could be the original/master publisher or an intermediary re-publisher such as a persistence/data manager.  This element is not a commanded CRUD operation.  It is not an indication of the state of an instance of a message.  It is not a mechanism for partial, incremental, or fragmentary publication of a message.  It is a signal from a publisher to subscribers.  For REMOVED state, in particular, some subscribers will mirror the publisher and treat the message as if the object no longer exists, but others, such as mission recorders, might not (in order to support retaining historical records of activity, for example).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MessageData" type="uci:MsgNameActivityMDT">
						<xs:annotation>
							<xs:documentation>See annotations in child elements for details.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MsgNameActivityType">
		<xs:annotation>
			<xs:documentation>See annotations in child elements and messages/elements that use this type for details.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="uci:ActivityBaseType">
				<xs:sequence>
					<xs:element name="AnyRequiredMessageUniqueFieldsGoHere">
						<xs:annotation>
							<xs:documentation>*INSTRUCTIONS: ADD YOUR MESSAGE SPECIFIC REQUIRED FIELDS IN THIS xs:sequence STARTING HERE. REMOVE THIS EXAMPLE ELEMENT*</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AnyOptionalMessageUniqueFieldsGoHere" minOccurs="0">
						<xs:annotation>
							<xs:documentation>*INSTRUCTIONS: ADD YOUR MESSAGE SPECIFIC OPTIONAL FIELDS IN THIS xs:sequence STARTING HERE. REMOVE THIS EXAMPLE ELEMENT*</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MsgNameCapabilityCommandType">
		<xs:annotation>
			<xs:documentation>See annotations in child elements and messages/elements that use this type for details.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="uci:CapabilityCommandBaseType">
				<xs:sequence>
					<xs:element name="AnyRequiredMessageUniqueFieldsGoHere">
						<xs:annotation>
							<xs:documentation>*INSTRUCTIONS: ADD YOUR MESSAGE SPECIFIC REQUIRED FIELDS IN THIS xs:sequence STARTING HERE. REMOVE THIS EXAMPLE ELEMENT*</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AnyOptionalMessageUniqueFieldsGoHere" minOccurs="0">
						<xs:annotation>
							<xs:documentation>*INSTRUCTIONS: ADD YOUR MESSAGE SPECIFIC OPTIONAL FIELDS IN THIS xs:sequence STARTING HERE. REMOVE THIS EXAMPLE ELEMENT*</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MsgNameCapabilityMDT">
		<xs:annotation>
			<xs:documentation>See annotations in child elements and associated global element (message) for further details.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="uci:CapabilityBaseType">
				<xs:sequence>
					<xs:element name="Capability" type="uci:MsgNameCapabilityType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Indicates a MsgName Capability provided by the Subsystem.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AnyRequiredMessageUniqueFieldsGoHere">
						<xs:annotation>
							<xs:documentation>*INSTRUCTIONS: ADD YOUR MESSAGE SPECIFIC REQUIRED FIELDS IN THIS xs:sequence STARTING HERE. REMOVE THIS EXAMPLE ELEMENT*</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AnyOptionalMessageUniqueFieldsGoHere" minOccurs="0">
						<xs:annotation>
							<xs:documentation>*INSTRUCTIONS: ADD YOUR MESSAGE SPECIFIC OPTIONAL FIELDS IN THIS xs:sequence STARTING HERE. REMOVE THIS EXAMPLE ELEMENT*</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MsgNameCapabilityMT">
		<xs:annotation>
			<xs:documentation>See the associated global element (message) annotation for further details.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="uci:MessageType">
				<xs:sequence>
					<xs:element name="ObjectState" type="uci:ObjectStateEnum" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Indicates the state of the internal software object that the data in the message is based upon.  The state of the software object is determined by the publisher.  The publisher could be the original/master publisher or an intermediary re-publisher such as a persistence/data manager.  This element is not a commanded CRUD operation.  It is not an indication of the state of an instance of a message.  It is not a mechanism for partial, incremental, or fragmentary publication of a message.  It is a signal from a publisher to subscribers.  For REMOVED state, in particular, some subscribers will mirror the publisher and treat the message as if the object no longer exists, but others, such as mission recorders, might not (in order to support retaining historical records of activity, for example).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MessageData" type="uci:MsgNameCapabilityMDT">
						<xs:annotation>
							<xs:documentation>See annotations in child elements for details.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MsgNameCapabilityOptionsType">
		<xs:annotation>
			<xs:documentation>See annotations in child elements and messages/elements that use this type for details.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="InterruptOtherActivities" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Indicates whether (TRUE) or not (FALSE) the Capability supports the InterruptOtherActivities element in the MsgNameCommand message.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AnyRequiredMessageUniqueFieldsGoHere">
				<xs:annotation>
					<xs:documentation>*INSTRUCTIONS: ADD YOUR MESSAGE SPECIFIC REQUIRED FIELDS IN THIS xs:sequence STARTING HERE. REMOVE THIS EXAMPLE ELEMENT*</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AnyOptionalMessageUniqueFieldsGoHere" minOccurs="0">
				<xs:annotation>
					<xs:documentation>*INSTRUCTIONS: ADD YOUR MESSAGE SPECIFIC OPTIONAL FIELDS IN THIS xs:sequence STARTING HERE. REMOVE THIS EXAMPLE ELEMENT*</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MsgNameCapabilityStatusMDT">
		<xs:annotation>
			<xs:documentation>See annotations in child elements and associated global element (message) for further details.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="uci:CapabilityStatusBaseType">
				<xs:sequence>
					<xs:element name="CapabilityStatus" type="uci:CapabilityStatusType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Indicates the high level availability/state of a Capability instance.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CurrentMessageOutput" type="uci:MsgNameMessageOutputsEnum" minOccurs="0" maxOccurs="2">
						<xs:annotation>
							<xs:documentation>*INSTRUCTIONS: Edit MaxOccurs with the number of enumerations for the new type. REMOVE INSTRUCTION FROM ANNOTATION.*

Indicates a message that is an output of the Capability.  See enumerated type annotations for details. List size for this element is based on "Select All That Apply" condition.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AnyRequiredMessageUniqueFieldsGoHere">
						<xs:annotation>
							<xs:documentation>*INSTRUCTIONS: ADD YOUR MESSAGE SPECIFIC REQUIRED FIELDS IN THIS xs:sequence STARTING HERE. REMOVE THIS EXAMPLE ELEMENT*</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AnyOptionalMessageUniqueFieldsGoHere" minOccurs="0">
						<xs:annotation>
							<xs:documentation>*INSTRUCTIONS: ADD YOUR MESSAGE SPECIFIC OPTIONAL FIELDS IN THIS xs:sequence STARTING HERE. REMOVE THIS EXAMPLE ELEMENT*</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MsgNameCapabilityStatusMT">
		<xs:annotation>
			<xs:documentation>See the associated global element (message) annotation for further details.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="uci:MessageType">
				<xs:sequence>
					<xs:element name="ObjectState" type="uci:ObjectStateEnum" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Indicates the state of the internal software object that the data in the message is based upon.  The state of the software object is determined by the publisher.  The publisher could be the original/master publisher or an intermediary re-publisher such as a persistence/data manager.  This element is not a commanded CRUD operation.  It is not an indication of the state of an instance of a message.  It is not a mechanism for partial, incremental, or fragmentary publication of a message.  It is a signal from a publisher to subscribers.  For REMOVED state, in particular, some subscribers will mirror the publisher and treat the message as if the object no longer exists, but others, such as mission recorders, might not (in order to support retaining historical records of activity, for example).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MessageData" type="uci:MsgNameCapabilityStatusMDT">
						<xs:annotation>
							<xs:documentation>See annotations in child elements for details.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MsgNameCapabilityType">
		<xs:annotation>
			<xs:documentation>See annotations in child elements and messages/elements that use this type for details.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CapabilityID" type="uci:CapabilityID_Type">
				<xs:annotation>
					<xs:documentation>Indicates the unique ID of this Capability.  This ID is used to invoke the Capability via Command messages, report its activity via Activity messages, etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CapabilityType" type="uci:MsgNameCapabilityEnum">
				<xs:annotation>
					<xs:documentation>INSTRUCTIONS: Put your annotation here. Delete these instructions.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SubCapabilityType" type="uci:MsgNameSubCapabilityEnum" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>INSTRUCTIONS: Some users of this template will not have a need for SubCapabilityType.  Delete this element If this element is not needed. Use this element to indicate a SubCapability of the MsgName Capability; Update maxOccurs. Update this annotation. Delete these Instructions.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AcceptedInterface" type="uci:CapabilityControlInterfacesEnum" maxOccurs="7">
				<xs:annotation>
					<xs:documentation>Indicates an accepted control interface for the Capability.  See enumeration annotations for further details. List size for this element is based on "Select All That Apply" condition.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CapabilityOptions" type="uci:MsgNameCapabilityOptionsType">
				<xs:annotation>
					<xs:documentation>Indicates the Capability's support for select optional elements in its accepted control interface messages.  Support for these elements is expected to vary across Capability implementations but must be known in order to adapt and configure upstream Systems and Services which use the Capability.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProductOutput" type="uci:ProductOutputType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Indicates a Product that is an output of the Capability.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MessageOutput" type="uci:MsgNameMessageOutputsEnum" minOccurs="0" maxOccurs="2">
				<xs:annotation>
					<xs:documentation>*INSTRUCTIONS: Edit MaxOccurs with the number of enumerations for the new type. REMOVE INSTRUCTION FROM ANNOTATION.*
					
Indicates a message that is an output of the Capability.  See enumerated type annotations for details. List size for this element is based on "Select All That Apply" condition.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CommsRequired" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates whether (TRUE) or not (FALSE) communications are required to use the Capability.  Omitted is equivalent to FALSE.  For example, an unmanned system with no onboard storage would require communications to disseminate the outputs of the Capability.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AnyRequiredMessageUniqueFieldsGoHere">
				<xs:annotation>
					<xs:documentation>*INSTRUCTIONS: ADD YOUR MESSAGE SPECIFIC REQUIRED FIELDS IN THIS xs:sequence STARTING HERE. REMOVE THIS EXAMPLE ELEMENT*</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AnyOptionalMessageUniqueFieldsGoHere" minOccurs="0">
				<xs:annotation>
					<xs:documentation>*INSTRUCTIONS: ADD YOUR MESSAGE SPECIFIC OPTIONAL FIELDS IN THIS xs:sequence STARTING HERE. REMOVE THIS EXAMPLE ELEMENT*</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--== END SUPPORTING COMPLEX TYPES  ==-->
	<!--== START SUPPORTING SIMPLE TYPES  ==-->
	<!--The simple types defined in this section are used in the messages defined above.  They are not intended to be sent independent of their host message(s).  They are listed alphabetically.  Many are enumerated xs:strings that are used within messages in the schema, each with a name ending in a "Enum" suffix.-->
	<xs:simpleType name="MsgNameCapabilityEnum">
		<xs:annotation>
			<xs:documentation>*INSTRUCTIONS: Replace the example enumerations with your actual enumerations.  REMOVE INSTRUCTION FROM ANNOTATION.*
			
Category of MsgName Capabilities.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="CAPABILITY_1">
				<xs:annotation>
					<xs:documentation>TYPE 01 CAPABILITY.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CAPABILITY_2">
				<xs:annotation>
					<xs:documentation>TYPE 02 CAPABILITY.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MsgNameMessageOutputsEnum">
		<xs:annotation>
			<xs:documentation>*INSTRUCTIONS: Delete the enumerations that you do not need. Add new enums but the values used here must also appear in MessageTypeEnum which is found in the UCI_MessageDefintions xsd file. REMOVE INSTRUCTION FROM ANNOTATION.*
			
Allowable mechanisms for MsgName message outputs.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="ACTION_ACTIVITY">
				<xs:annotation>
					<xs:documentation>Indicates dynamic status for the Capability will be reported via its associated Activity message. For example, the PO_Activity message for a PO Capability.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AIR_SAMPLE_ACTIVITY">
				<xs:annotation>
					<xs:documentation>Indicates dynamic status for the Capability will be reported via its associated AirSampleActivity message.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AO_ACTIVITY">
				<xs:annotation>
					<xs:documentation>Indicates dynamic status for the Capability will be reported via its associated Activity message.  For example, the ESM_Activity message for an ESM Capability.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="COMM_RELAY_ACTIVITY">
				<xs:annotation>
					<xs:documentation>Indicates dynamic status for the Capability will be reported via its associated CommRelayActivity message.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="EA_ACTIVITY">
				<xs:annotation>
					<xs:documentation>Indicates dynamic status for the Capability will be reported via its associated Activity message.  For example, the ESM_Activity message for an ESM Capability.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="EFFECT_ACTIVITY">
				<xs:annotation>
					<xs:documentation>Indicates dynamic status for the Capability will be reported via its associated Activity message. For example, the PO_Activity message for a PO Capability.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ENTITY">
				<xs:annotation>
					<xs:documentation>Indicates results of the Capability will be reported via the Entity message.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ENTITY_KINEMATICS_ORBITAL">
				<xs:annotation>
					<xs:documentation>Indicates results of the Capability will be reported via the Entity message.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ENTITY_LOST">
				<xs:annotation>
					<xs:documentation>Indicates results of the capability will be reported via the EntityLost message. This output may be expected if a system is unable to verify the identity of a specific target.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ENTITY_NOTIFICATION">
				<xs:annotation>
					<xs:documentation>Indicates results of the capability will be reported via the ENTITY_NOTIFICATION message which provides a notification related to an Entity (ex: ORBITAL_BREAKUP, KINEMATICS, ORBITAL_MANEUVER, MISSED_OBSERVATION, NEW).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ENTITY_ORBITAL_CSO">
				<xs:annotation>
					<xs:documentation>Indicates results of the capability will be reported via the EntityOrbitalCSO message. This output could result if a series of determinations indicate that multiple resident space objects (RSO) are in close proximity to one another.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ENTITY_ORBITAL_ELEMENT_SET">
				<xs:annotation>
					<xs:documentation>Indicates results of the capability will be reported via the EntityOrbitalElementSet message.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ENTITY_ORBITAL_EPHEMERIS">
				<xs:annotation>
					<xs:documentation>Indicates results of the capability will be reported via the EntityOrbitalEphemeris message.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ENTITY_ORBITAL_MANEUVER">
				<xs:annotation>
					<xs:documentation>Indicates results of the capability will be reported via the EntityOrbitalManeuver message. For instance, this output could result when a system has custody of a resident space object (RSO) and observes a sudden change in the object's orbit.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ENTITY_ORBITAL_VCM">
				<xs:annotation>
					<xs:documentation>Indicates results of the capability will be reported via the EntityOrbitalVCM message.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ESM_ACTIVITY">
				<xs:annotation>
					<xs:documentation>Indicates dynamic status for the Capability will be reported via its associated Activity message.  For example, the ESM_Activity message for an ESM Capability.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IFF_ACTIVITY">
				<xs:annotation>
					<xs:documentation>Indicates dynamic status for the Capability will be reported via its associated Activity message.  For example, the ESM_Activity message for an ESM Capability.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OBSERVATION_MEASUREMENT_REPORT">
				<xs:annotation>
					<xs:documentation>Indicates results of the Capability will be reported via the ObservationMeasurementReport message.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ORBITAL_SURVEILLANCE_ACTIVITY">
				<xs:annotation>
					<xs:documentation>Indicates dynamic status for the Capability will be reported via its associated Activity message. For example, the OrbitalSurveillanceActivity message for an Orbital Surveillance Capability.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ORBITAL_SURVEILLANCE_SENSOR_ACTIVITY">
				<xs:annotation>
					<xs:documentation>Indicates dynamic status for the Capability will be reported via its associated Activity message. For example, the OrbitalSurveillanceSensorActivity message for a Orbital Surveillance Sensor Capability.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PRODUCT_METADATA_LOCATION">
				<xs:annotation>
					<xs:documentation>Indicates results of the Capability will be reported via products described by ProductMetadata and ProductLocation messages.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PULSE_DATA">
				<xs:annotation>
					<xs:documentation>Indicates results of the Capability will be reported via the PulseData message.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SAR_ACTIVITY">
				<xs:annotation>
					<xs:documentation>Indicates dynamic status for the Capability will be reported via its associated Activity message.  For example, the ESM_Activity message for an ESM Capability.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SIGNAL_REPORT">
				<xs:annotation>
					<xs:documentation>Indicates results of the Capability will be reported via the SignalReport message.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SMTI_ACTIVITY">
				<xs:annotation>
					<xs:documentation>Indicates dynamic status for the Capability will be reported via its associated Activity message.  For example, the ESM_Activity message for an ESM Capability.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="STRIKE_ACTIVITY">
				<xs:annotation>
					<xs:documentation>Indicates dynamic status for the Capability will be reported via its associated Activity message.  For example, the ESM_Activity message for an ESM Capability.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="WEATHER_RADAR_ACTIVITY">
				<xs:annotation>
					<xs:documentation>Indicates dynamic status for the Capability will be reported via its associated Activity message.  For example, the ESM_Activity message for an ESM Capability.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="WEATHER_RADAR_OBSERVATION">
				<xs:annotation>
					<xs:documentation>Indicates results of the Capability will be reported via the WeatherRadarObservation message.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MsgNameSubCapabilityEnum">
		<xs:annotation>
			<xs:documentation>*INSTRUCTIONS: Replace the example enumerations with your actual enumeration.  REMOVE INSTRUCTION FROM ANNOTATION.*
			
SubCategory of MsgName Capabilities.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="SUBCAPABILITY_1">
				<xs:annotation>
					<xs:documentation>TYPE 01 SUBCAPABILITY.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SUBCAPABILITY_2">
				<xs:annotation>
					<xs:documentation>TYPE 02 SUBCAPABILITY.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<!--== END SUPPORTING SIMPLE TYPES  ==-->
</xs:schema>
